<aside class="side-nav">
    <a href="." class="portal__side-logo">
        <img src="~/img/logo.svg" alt="" class="side__logo-img">
    </a>
    <div class="side__inner">
        <ul class="side__list">
            <li class="side__list-item">
                <a asp-action="Index" class="side__item-link">
                    <img src="~/img/portal-side-home.svg" alt="" class="side__item-img">
                    <p class="side__item-name">My profile</p>
                </a>
            </li>
            <li class="side__list-item">
                <a asp-action="MyCourses" class="side__item-link">
                    <img src="~/img/portal-side-courses.svg" alt="" class="side__item-img">
                    <p class="side__item-name">My courses</p>
                </a>
            </li>
            <li class="side__list-item">
                <a href="" class="side__item-link">
                    <img src="~/img/portal-side-stats.svg" alt="" class="side__item-img">
                    <p class="side__item-name">Statistics</p>
                </a>
            </li>
            <li class="side__list-item">
                <a href="" class="side__item-link">
                    <img src="~/img/portal-side-dict.svg" alt="" class="side__item-img">
                    <p class="side__item-name">Dictionary</p>
                </a>
            </li>
            <li class="side__list-item">
                <a href="" class="side__item-link">
                    <img src="~/img/portal-side-commun.svg" alt="" class="side__item-img">
                    <p class="side__item-name">Community</p>
                </a>
            </li>
            <li class="side__list-item">
                <a href="" class="side__item-link">
                    <img src="~/img/portal-side-help.svg" alt="" class="side__item-img">
                    <p class="side__item-name">Help</p>
                </a>
            </li>
        </ul>
        <div class="portal__account">
            <img src="" alt="" class="portal__account-avatar">
            <p class="portal__account-name"> User Name</p>
            <form class="header__account-logout" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Portal", new { area = "" })">
                <button type="submit" class="account_btn-logout">Logout</button>
            </form>
        </div>
    </div>
</aside>