<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - ITToolTest</title>
    <partial name="_LayoutHead.cshtml"/>
</head>
<body>
    <partial name="_LayoutHeaderMain"/>
    @RenderBody()
    <partial name="_LayoutFooter"/>
    <partial name="_LayoutScript"/>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
