<aside class="side-nav">
    <a href="." class="portal__side-logo">
        <img src="./img/logo.svg" alt="" class="side__logo-img">
    </a>
    <div class="side__inner">
        <ul class="side__list">
            <li class="side__list-item">
                <a href="" class="side__item-link">
                    <img src="" alt="" class="side__item-img">
                    <p class="side__item-name">Личный кабинет</p>
                </a>
            </li>
            <li class="side__list-item">
                <a asp-action="MyCourses" class="side__item-link">
                    <img src="" alt="" class="side__item-img">
                    <p class="side__item-name">Мои курсы</p>
                </a>
            </li>
            <li class="side__list-item">
                <a href="" class="side__item-link">
                    <img src="" alt="" class="side__item-img">
                    <p class="side__item-name">Статистика</p>
                </a>
            </li>
            <li class="side__list-item">
                <a href="" class="side__item-link">
                    <img src="" alt="" class="side__item-img">
                    <p class="side__item-name">Словарь</p>
                </a>
            </li>
            <li class="side__list-item">
                <a href="" class="side__item-link">
                    <img src="" alt="" class="side__item-img">
                    <p class="side__item-name">Сообщество</p>
                </a>
            </li>
            <li class="side__list-item">
                <a href="" class="side__item-link">
                    <img src="" alt="" class="side__item-img">
                    <p class="side__item-name">Помощь</p>
                </a>
            </li>
        </ul>
        <div class="portal__account">
            <img src="" alt="" class="portal__account-avatar">
            <p class="portal__account-name"> User Name</p>
            <form class="header__account-logout" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Portal", new { area = "" })">
                <button type="submit" class="account_btn-logout">Logout</button>
            </form>
        </div>
    </div>
</aside>