<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - ITToolTest</title>
    <partial name="_LayoutHead.cshtml"/>
</head>
<body>
<section class="login">
    <div class="container">
        <div class="login__logo">
            <a class="logo login__logo" asp-controller="Home" asp-action="Index">
                <img src="/img/logo.svg" alt="logo" class="logo-img"/>
            </a>
        </div>
        @RenderBody()
    </div>
</section>
<partial name="_LayoutScript"/>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>