<!DOCTYPE html>

<html>
<head>
    <partial name="_LayoutHead" />
</head>
<body class="portal__body">
    <div class="container portal__main-container">
        <partial name="_LayoutPortalSide" />
        @RenderBody()
    </div>
    <partial name="_LayoutScript" />
</body>
</html>