<section class="main__contact" id="main__contact">
    <div class="container">
        <div class="main__contact-inner">
            <div class="main__contact-links">
                <p class="main__contact-header">Contact us</p>
                <a href="" class="main__contact-email">
                    ququemba@mail.ru
                </a>
                <br><br>
                <a href="" class="main__contact-email">
                    ququemba@mail.ru
                </a>
                <div class="main__contact-soc">
                    <a href="" class="contact__soc-link">
                        <img src="./img/facebook.svg" alt="" class="contact__soc-img">
                    </a>
                    <a href="" class="contact__soc-link">
                        <img src="./img/whatsup.svg" alt="" class="contact__soc-img">
                    </a>
                    <a href="" class="contact__soc-link">
                        <img src="./img/telegram.svg" alt="" class="contact__soc-img">
                    </a>
                    <a href="" class="contact__soc-link">
                        <img src="./img/instagram.svg" alt="" class="contact__soc-img">
                    </a>
                </div>
            </div>
            <div class="main__contact-logo">
                <img src="./img/logo-dark.svg" alt="" class="logo contact__logo-img" >
                <br>
                <a class="main__contact-errors">Any mistake?</a>
                <p class="main__contact-licens">© 2021 ITtool. All rights reserved</p>
            </div>
        </div>
    </div>
</section>