<footer class="footer">
    <div class="container">
            <div class="footer__inner">
                <div class="footer__links">
                    <a class="logo" asp-controller="Home" asp-action="Index">
                        <img src="/img/logo.svg" alt="logo" class="logo-img" />
                    </a>
                    <div class="footer__links-inner">
                        <a href="" class="footer__links-link"><img src="" alt="" class="footer__links-img" /></a>
                        <a href="" class="footer__links-link"><img src="" alt="" class="footer__links-img" /></a>
                        <a href="" class="footer__links-link"><img src="" alt="" class="footer__links-img" /></a>
                        <a href="" class="footer__links-link"><img src="" alt="" class="footer__links-img" /></a>
                        <a href="" class="footer__links-link"><img src="" alt="" class="footer__links-img" /></a>
                    </div>
                </div>
                <div class="footer__ittool">
                    <p class="footer__ittool-header">ITtool</p>
                    <a href="" class="footer__ittool-link">О нас</a>
                    <a href="" class="footer__ittool-link">Политика</a>
                    <a href="" class="footer__ittool-link">Лицензия</a>
                    <a href="" class="footer__ittool-link">Отзывы</a>
                </div>
                <div class="footer__more">
                    <p class="footer__more-header">Дополнительно:</p>
                    <a href="" class="footer__more-link">Тех. поддержка</a>
                    <a href="" class="footer__more-link">FAQ</a>
                    <a href="" class="footer__more-link">Нашли ошибку?</a>
                </div>
            </div>
        </div>
</footer>