@using Microsoft.AspNetCore.Identity

@{
    Layout = "_LayoutPortal";
}

<section class="portal__main">
    <div class="portal__main-header">
        <h3 class="main__header-hello">Привет, @User.Identity.Name</h3>
        <img src="" alt="" class="main__header-notification">
    </div>
    <div class="main__inner-left">
        <h1 class="main__header">Что мы будем изучать сегодня?</h1>
        <div class="main__corousel">

        </div>
        <div class="main__soc">
            <h1 class="main__soc-header">Сообщетво</h1>
            <div class="main__soc-inner">
                <div class="main__soc-item">
                    <img src="" alt="" class="soc__item_img">
                    <p class="soc__item-header">
                        Топ отличников
                        курса
                    </p>
                </div>
                <div class="main__soc-item">
                    <img src="" alt="" class="soc__item_img">
                    <p class="soc__item-header">
                        Топ активных
                        пользователей
                    </p>
                </div>
                <div class="main__soc-item">
                    <img src="" alt="" class="soc__item_img">
                    <p class="soc__item-header">
                        Мой рейтинг
                        сообщества
                    </p>
                </div>
                <div class="main__soc-item">
                    <img src="" alt="" class="soc__item_img">
                    <p class="soc__item-header">
                        Форум
                        сообщества
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="main__inner-right">
        <div class="main__exercise">
            <h1 class="main__exercise-headedr">Новые задания</h1>
        </div>
        <div class="main__statistic">
            <h1 class="main__statistic-header">Статистика курса</h1>
        </div>
    </div>
    <embed src="data/Project_Content.mht">
</section>
