@import "vars";
@import "libs";
@import "fonts";
@import "global";

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #0f121a;
}

.header__inner {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    height: 106px;
    padding-top: 30px;
}

.menu__list * {
    display: inline;
}

.menu {
    padding-top: 13px;
}

.menu__item {
    padding: 0px 40px;
}

.portal-link {
    color: #ff700a;
    padding: 10px;
    border: 2px solid #ff700a;
    border-radius: 100px;
}

.main__offer-inner {
    padding-bottom: 100px;
}

.main__offer {
    min-height: 95vh;
}

.main__offer-inner {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.offer__text {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.offer__text-text {
    margin-bottom: 36px;
    font-size: 42px;
    font-weight: 700;
    max-width: 600px;
}

.offer__text-header {
    font-weight: 800;
    color: #167f8d;
}

.offer__link {
    max-width: 343px;
    font-size: 25px;
    text-align: center;
}

.main__about {
    text-align: center;
    background-color: #dfe0e2;
    padding-top: 50px;
}

.main__about-header {
    @extend %h1-section-header;
    color: #ff700a;
    margin-bottom: 10px;
}

.main__about-subheader {
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    color: #0f121a;
    max-width: 810px;
    margin: 0 auto;
}

.main__about-inner {
    width: 1000px;
    height: 330px;
    display: inline-flex;
    justify-content: space-around;
    margin-top: 35px;
    padding: 20px;
}

.main__about-item {
    height: 65%;
    width: 20%;
}

.main__about-item:hover {
    cursor: pointer;
}

.tab.active{
    display:block;
}

.button.active-button{
    p{
        color:#ff700a;
    }
}

.about__info-inner{
    padding-bottom:20px;
}
.about__info-item {
    display: none;
}
.about__item-image {
    padding: 60px;
    background-color: #0f121a;
    border-radius: 15px;
}

.about__item-header {
    width: 190px;
    text-align: center;
    font-size: 18px;
    color: #0f121a;
    margin-top: 15px;
}

.about__info-text {
    max-width: 700px;
    margin: 0 auto;
    color: #0f121a;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

}

.main__courses {
    padding-top: 50px;
    height: 900px;
}

.main__courses-header {
    @extend %h1-section-header;
    margin-left: 25px;
}

.main__contact {
    background-color: #dfe0e2;
    padding-top: 35px;

    a {
        color: #0f121a;
    }

    padding-bottom: 20px;
}

.main__contact-header {
    @extend %h1-section-header;
    color: #ff700a;
    margin-bottom: 70px;
}

.main__contact-inner {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.main__contact-soc {
    margin-top: 44px;
    margin-left: 10px;

    a {
        margin-right: 30px;
    }
}

.main__contact-email {
    font-size: 18px;
    margin-left: 10px;
}

.contact__logo-img {
    margin-bottom: 37px;
}

.main__contact-errors {
    font-weight: 600;
    font-size: 18px;
}

.main__contact-licens {
    margin-top: 106px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: rgba(15, 18, 26, 0.4);
}
.login__logo{
    text-align:center;
    margin: 0 auto;
}

section.login {
    text-align: center;
    padding-bottom:50px;
}
div.login {
    padding: 65px 75px 40px;
    width: 550px;
    margin: 70px auto 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
    text-align: center;

    h4 {
        font-size: 25px;
        color: #0F121A;
        font-weight: 600;
        margin-bottom: 75px;
    }

    .login__form-control {
        width: 400px;
        margin-bottom: 75px;
        border: none;
        border-bottom: 2px solid #0F121A;
    }

    a, label, input {
        color: #0F121A;
    }

    .remember_me{
        margin-bottom:20px;
    }
}
.login__form-btn {
    background-color: #0F121A;
    font-size: 20px;
    font-weight: 700;
    padding: 13px 167px;
    color: white;
    border-radius: 5px;
    border: none;
    margin-bottom: 48px;
}
#forgot-passwor {
    color: #A59898;
    font-size:15px;
}
.register_login{
    margin-top:30px;

}

.register__form-btn {
    background-color: #0F121A;
    font-size: 20px;
    font-weight: 700;
    padding: 13px 41px;
    color: white;
    border-radius: 5px;
    border: none;
    margin-bottom: 48px;
}

.main__courses-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px 0px;
    grid-template-areas: ". . ." ". . ." ". . .";
}

.main__courses-item {
    background-color: #DFE0E2;
    width: 250px;
    height: 334px;
    border-radius:15px;
    margin-right:65px;
    a{
        border-radius:15px;
    }
    h2,h4,p{
        margin:0 20px;
    }
    h2{
        margin-top:20px;
    }
    h4{
        margin-top:5px;
        margin-bottom:37px;
    }
}

.courses__item-img {
    width: 100%;
    border-radius: inherit;
    height: 202px;
    background-color: #D0253E;
}
.courses__item-header {
    font-weight: 700;
    font-size: 18px;
    text-align: left;
    color: #0F121A;
}

.courses__item-subheader {
    font-size: 14px;
    font-weight: 500;
    color: #0F121A;
}

.courses__item-info {
    width:100%;
    display: inline-flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 12px;
    p{
        color:black;
    }
    
}
.main__courses-header{
    margin-bottom:86px;
}

.portal__body{
    padding-bottom:50px;
    background-image: url("../img/portal-bcg.png");
    background-size:cover;
}
.portal__main-container {
    background-color: #0F121A;
    border-radius:30px;
    padding-left:0;
    min-height:800px;
}
.side-nav {
    float: left;
    padding: 24px 0;
    width: 300px;
    text-align: center;
    background: #0C0E14;
    border-radius: 30px 0px 0px 30px;
    min-height:800px;
}
.side__list{
    text-align:left;
    margin-top:20px;
}
.side__list-item{
    margin-left:47px;
    padding:14px 0;
    
}
.side__item-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.side__item-link{
    display:inline-flex;
    width:200px;
    p{
        margin-left:20px;
        text-align:left;
    }
}
.side__inner{
    height:700px;
    display:inline-flex;
    flex-direction:column;
    justify-content:space-between;
}
.portal__main{
    padding:40px;
}

.portal__courses {
    padding: 30px;
    float: left;
    width: 70%;
}

.portal__courses_header {
    font-weight: 600;
    font-size: 35px;
    color: #dfe0e2;
    margin-bottom: 25px;
}

.portal__courses_contole {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.courses__controle_new {
    width: 30%;
    display: inline-flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #dfe0e2;
    border-radius: 25px;
}

.controle__new_text {
    color: #0f121a;
    font-weight: 500;
    font-size: 15px;
}

.controle__new_img {
}

.courses__controle_progress {
    border-radius: 25px;
    width: 30%;
    display: inline-flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #dfe0e2;
}

.courses__progress_text {
    color: #0f121a;
    font-weight: 500;
    font-size: 15px;
}

.courses__progress_img {
}

.portal__courses_inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.portal__courses_item {
    flex: 1 1 25%;
    min-width: 305px;
    height: 150px;
    padding: 14px 20px 14px;
    background-color: #dfe0e2;
    border: 2px solid #0c0e14;
    flex-grow: 0; /* <-----  Самая важна часть*/
    border-radius: 25px;
    box-shadow: 0px 0px 0px 4px #ff700a;
    margin-bottom: 35px;
}


.courses__item_header {
    font-weight: 500;
    font-size: 19px;
    color: #0f121a;
}

.courses__item_discription {
    font-weight: 500;
    font-size: 12px;
    color: #0f121a;
}

.courses__item_progress {
    display: inline-flex;
    width: 80%;
    justify-content: space-around;
}

.item__progress-text {
    font-weight: 500;
    font-size: 7px;
    color: #0f121a;
}

.item__progress_bar {
}

.item__progress_percent {
    font-weight: 500;
    font-size: 7px;
    color: #0f121a;
}

.course__theme_img{
    max-width:800px;
    max-height:800px;
    margin:30px;
}