@model IEnumerable<ITToolTest.Models.Courses>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<section class="main__offer" id="main__offer">
    <div class="container">
        <div class="main__offer-inner">
            <div class="offer__text">
                <p class="offer__text-text">
                    <span class="offer__text-header">
                        ITtool
                    </span> - personal assistant in learning Technical English.
                    Programmers for programmers
                </p>
                <a href="#" class="portal-link offer__link">
                    Get started
                </a>
            </div>
            <div class="offer-img">
                <img class="offer-img" src="./img/mainImg.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="main__about" id="main__about">
    <div class="container">
        <p class="main__about-header">About us...</p>
        <p class="main__about-subheader">
            ITtool is a platform for learning technical English which is used in IT sphere. We don’t teach the basics of language, but give the opportunity to dive in the world of programming and technologies. Our website is perfect for novice developers and designers, and also for specialists, who want to refresh their knowledge.
        </p>
        <div class="main__about-inner buttons">
            <div class="main__about-item button button--1 active-button" data-value="1" id="about-item1">
                    <div class="about__item-image">
                        <img src="./img/main__us.svg" alt="" class="about__item-img">
                    </div>
                    <p class="about__item-header">What we do</p>
                </div>
            <div class="main__about-item button button--2" data-value="2" id="about-item2">
                <div class="about__item-image">
                    <img src="./img/main__audience.svg" alt="" class="about__item-img">
                </div>
                <p class="about__item-header">Target audience</p>
            </div>
            <div class="main__about-item button button--3" data-value="3" id="about-item3">
                <div class="about__item-image">
                    <img src="./img/main__benefits.svg" alt="" class="about__item-img">
                </div>
                <p class="about__item-header">Why we're helpful</p>
            </div>
            <div class="main__about-item button button--4" data-value="4" id="about-item4">
                <div class="about__item-image">
                    <img src="./img/main__methods.svg" alt="" class="about__item-img">
                </div>
                <p class="about__item-header">Study approach</p>
            </div>
        </div>
        <div class="about__info-inner tabs">
            <div class="about__info-item tab tab--1 active">
                <p class="about__info-text" id="about-content1">
                    Lorem1 ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
                    venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent
                    elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam
                    quis
                </p>
            </div>
            <div class="about__info-item tab tab--2" id="about-content2">
                <p class="about__info-text">
                    Lorem2 ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
                    venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent
                    elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam
                    quis
                </p>
            </div>
            <div class="about__info-item tab tab--3" id="about-content3">
                <p class="about__info-text">
                    Lorem3 ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
                    venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent
                    elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam
                    quis
                </p>
            </div>
            <div class="about__info-item tab tab--4" id="about-content4">
                <p class="about__info-text">
                    Lorem4 ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
                    venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent
                    elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam
                    quis
                </p>
            </div>
        </div>
    </div>
</section>
<section class="main__courses" id="main__courses">
    <div class="container">
        <p class="main__courses-header">Courses</p>
        <div class="main__courses-inner">
            @foreach (var e in Model)
            {
                <div class="main__courses-item">
                    <a href="#" class="main__courses-link">
                        <div class="courses__item-img"></div>
                        <h2 class="courses__item-header">@Html.DisplayFor(x => e.Name)</h2>
                        <h4 class="courses__item-subheader">@Html.DisplayFor(x => e.Description)</h4>
                        <div class="courses__item-info">
                            <p class="courses__item-lessons">Number of lessons:@Html.DisplayFor(x => e.LessonsCount)</p>
                            <p class="courses__item-lvl">Complexity:@Html.DisplayFor(x => e.Level)</p>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
