@model IEnumerable<ITToolTest.Models.OurCourses>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<section class="main__offer" id="main__offer">
    <div class="container">
        <div class="main__offer-inner">
            <div class="offer__text">
                <p class="offer__text-text">
                    <span class="offer__text-header">
                        ITtool
                    </span> - платформа для изучения технического английского в сфере IT.
                </p>
                <a href="#" class="portal-link offer__link">
                    Начать изучение
                </a>
            </div>
            <div class="offer-img">
                <img class="offer-img" src="./img/mainImg.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="main__about" id="main__about">
    <div class="container">
        <p class="main__about-header">О нас...</p>
        <p class="main__about-subheader">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus
            sit amet luctus venenatis, lectus magna
            fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla
            est ullamcorper
            eget nulla facilisi etiam dignissim diam quis
        </p>
        <div class="main__about-inner">
            <div class="main__about-item " id="about-item1">
                <div class="about__item-image">
                    <img src="./img/main__us.svg" alt="" class="about__item-img">
                </div>
                <p class="about__item-header">Чем мы занимаемся?</p>
            </div>
            <div class="main__about-item " id="about-item2">
                <div class="about__item-image">
                    <img src="./img/main__audience.svg" alt="" class="about__item-img">
                </div>
                <p class="about__item-header">Наша аудитория</p>
            </div>
            <div class="main__about-item " id="about-item3">
                <div class="about__item-image">
                    <img src="./img/main__benefits.svg" alt="" class="about__item-img">
                </div>
                <p class="about__item-header">Наши преимущества</p>
            </div>
            <div class="main__about-item " id="about-item4">
                <div class="about__item-image">
                    <img src="./img/main__methods.svg" alt="" class="about__item-img">
                </div>
                <p class="about__item-header">Методы изучения</p>
            </div>
        </div>
        <div class="about__info-inner">
            <div class="about__info-item">
                <p class="about__info-text" id="about-content1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
                    venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent
                    elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam
                    quis
                </p>
            </div>
            <div class="about__info-item" id="about-content2">
                <p class="about__info-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
                    venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent
                    elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam
                    quis
                </p>
            </div>
            <div class="about__info-item" id="about-content3">
                <p class="about__info-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
                    venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent
                    elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam
                    quis
                </p>
            </div>
            <div class="about__info-item" id="about-content4">
                <p class="about__info-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
                    venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent
                    elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam
                    quis
                </p>
            </div>
        </div>
    </div>
</section>
<section class="main__courses" id="main__courses">
    <div class="container">
        <p class="main__courses-header">Наши курсы</p>
        <div class="main__courses-inner">
            @foreach (var e in Model)
            {
                <div class="main__courses-item">
                    <a href="#" class="main__courses-link">
                        <div class="courses__item-img"></div>
                        <h2 class="courses__item-header">@Html.DisplayFor(x => e.Name)</h2>
                        <h4 class="courses__item-subheader">@Html.DisplayFor(x => e.Description)</h4>
                        <div class="courses__item-info">
                            <p class="courses__item-lessons">Количество уроков:@Html.DisplayFor(x => e.LessonsCount)</p>
                            <p class="courses__item-lvl">Сложность:@Html.DisplayFor(x => e.Level)</p>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
