@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="login">
    <form id="account" method="post" class="login__form">
        <h4>Добро пожаловать!</h4>
        <div asp-validation-summary="All" class="login__form-controler"></div>
        <div class="form-group">
            <input asp-for="Input.Email" class="login__form-control" placeholder="Email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Input.Password" class="login__form-control" placeholder="Пароль" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox remember_me" >
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="login__form-btn">Войти</button>
        </div>
        <div class="form-group">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Забыли пароль?</a>
            </p>
        </div>
    </form>
</div>
    <p>
        <a class="register_login" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Новый пользователь?  Зарегистрируйтесь</a>
    </p>
        

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
