@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="login">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h4>Зарегистрируйтесь в ITtool</h4>
            <div asp-validation-summary="All" class="login__form-controler"></div>
            <div class="form-group">
                <input asp-for="Input.Email" class="login__form-control" placeholder="Email"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <input asp-for="Input.Password" class="login__form-control" placeholder="Пароль"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            <div class="form-group">
                <input asp-for="Input.ConfirmPassword" class="login__form-control" placeholder="Повторите пароль"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="register__form-btn">Зарегистрироваться</button>
            </div>
        </form>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
